<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> product list</h1>
    {% for product in products %}
    <div>
        <a href="{% url 'sglproduct' product.slug %}"><img src="{{product.image1.url}}" alt="" width="200px"  height="200px"></a>
        
        <p>
            {{product.product.product_name}}  <br>
            {{product.colour.colour_name}} <br>
            original price{{product.original_price}} <br>
            sale_price{{product.sale_price}}
        </p>
    </div>
    {% endfor %}
</body>
</html>