<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Categories </h1>
    {% for category in categories %}
    <div>
        <a href="{% url 'category' category.slug %}"><img src="{{category.category_image.url}}" alt="" width="200px"  height="200px">
            <br>
            <h2>{{category.category_name}}</h2>  <br>
        </a> <br><br>
    </div>
    {% endfor %}
</body>
</html>